doctype html
html
    head
        title Words of Wisdom
        link(rel="icon" href="images/think.ico" alt="thinking icon")
        link(rel="stylesheet" href="css/quotes.css")
    body
        h1 Words of Wisdom
        .buttonDiv
            a.btn(href="#") Click for Inspiration
        .mainBody
            #quote-machine
                h2 Press X to reload.
                h3 - Abraham Lincoln

    footer
        p Alec Armstrong
        span#tweet-span
            a.twitter-share-button(
				id="tweet"
		        href="https://twitter.com/share"
                data-size="large"
                data-url = "https//itsalbow.github.io/quotes"
		        data-via="Al_Armz"
                data-related="twitterapi,twitter"
		        data-count="none"
                data-hashtags="freecodecamp"
                data-text=""
		    )   Tweet   
        script(src='/js/jquery.min.js')
        script(src='/js/quotes.js')
    //- end body
//- end html